*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --light-red-cta: hsl(356, 100%, 66%);
  --very-light-red: hsl(355, 100%, 74%);
  --very-dark-blue: hsl(208, 49%, 24%);
  --white-text: hsl(0, 0%, 100%);
  --grayish-blue: hsl(240, 2%, 79%);
  --very-dark-grayish-blue: hsl(207, 13%, 34%);
  --very-dark-black-blue: hsl(240, 10%, 16%);
  --very-light-red: hsl(13, 100%, 72%);
  --light-red: hsl(353, 100%, 62%);
  --very-dark-gray-blue: hsl(237, 17%, 21%);
  --very-dark-desaturated-blue: hsl(237, 23%, 32%);
  --body-text: 1rem;
}

body {
  font-family: "Overpass", sans-serif;
}

.container {
  width: 75%;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
}

.main-header {
  background-color: var(--very-light-red);
  background-image: url(../images/bg-pattern-intro.svg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: space;
  z-index: 20;
  border-bottom-left-radius: 100px;
}

.main-nav {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2rem;
}

@media screen and (max-width: 600px) {
  .main-nav {
    height: 12.5vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 600px) {
  .nav-content {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 17vh;
    left: 0;
    right: 0;
    padding: 1.5rem 0;
    border-radius: 5px;
    background-color: var(--white-text);
  }
}

.mobile-nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 600px) {
  .right-nav-content,
  .left-nav-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.brand-logo {
  float: left;
  margin-right: 1.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.brand-logo img {
  width: 6rem;
}

@media screen and (max-width: 600px) {
  .brand-logo {
    float: none;
    left: 0;
  }
}

.mobile-menu {
  display: none;
  right: 0;
}

@media screen and (max-width: 600px) {
  .mobile-menu {
    display: block;
  }
}

.dropdown {
  --btn-vpadding: 0.94rem;
  float: left;
  position: relative;
}

@media screen and (max-width: 600px) {
  .dropdown {
    padding: 10px 0;
    width: 100%;
  }
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: var(--white-text);
}

@media screen and (max-width: 600px) {
  .dropdown:hover .dropdown-content {
    background-color: var(--grayish-blue);
    display: none;
  }
}

.mobile-dropdown-content {
  display: block !important;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 8rem;
  border-radius: 0.25rem;
  background-color: var(--white-text);
  z-index: 1;
  padding: 0.75rem 0;
}

@media screen and (max-width: 600px) {
  .dropdown-content {
    background-color: whitesmoke;
    position: relative;
    width: 90%;
    margin: 1rem auto;
  }
}

.dropdown-toggle,
.nav-item {
  padding: 0.25rem 1rem;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

@media screen and (max-width: 600px) {
  .dropdown-toggle,
  .nav-item {
    width: 100%;
    text-align: center;
    padding: var(--btn-vpadding) 1rem;
  }
}

.dropdown-toggle {
  background-color: transparent;
  font-weight: 400;
  color: var(--white-text);
}

.dropdown-toggle .dark-arrow {
  display: none;
}

.dropdown-toggle .light-arrow,
.dropdown-toggle .dark-arrow {
  margin-left: 0.5rem;
  width: 0.75rem;
}

.dropdown-toggle:hover {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .dropdown-toggle {
    color: var(--body-text);
  }
  .dropdown-toggle .dark-arrow {
    display: inline;
  }
  .dropdown-toggle .light-arrow {
    display: none;
  }
}

.dropdown-link {
  padding: 0.625rem 1rem;
  margin: 2px 0;
  text-decoration: none;
  font-size: 0.85rem;
  color: var(--very-dark-desaturated-blue);
  width: 100%;
}

@media screen and (max-width: 600px) {
  .dropdown-link {
    text-align: center;
    color: var(--very-dark-blue);
  }
}

.dropdown-link:hover {
  color: var(--very-dark-black-blue);
}

.arrow-active {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

.dropdown-content .dropdown-link {
  display: block;
}

.nav-item {
  float: left;
}

.left-nav-content .nav-item {
  padding: 0.625rem 1.5rem;
  text-decoration: none;
  color: var(--white-text);
}

.left-nav-content .nav-item:nth-child(1) {
  margin-right: 1rem;
}

@media screen and (max-width: 600px) {
  .left-nav-content .nav-item {
    color: var(--very-dark-black-blue);
    color: var(--body-text);
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    float: none;
  }
  .left-nav-content .nav-item:nth-child(1) {
    margin-right: 0;
    margin: 1rem 0;
  }
}

.left-nav-content .signup {
  background-color: var(--white-text);
  color: var(--light-red-cta);
  border-radius: 1.25rem;
}

@media screen and (max-width: 600px) {
  .left-nav-content .signup {
    color: var(--white-text);
    background-color: var(--light-red);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 1.5rem;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: auto;
    margin-bottom: 1rem;
  }
}

/* 

    Hero

*/
.hero-section {
  padding: 4rem 0;
  text-align: center;
}

.hero-section .main-heading {
  color: var(--white-text);
  font-family: "Ubuntu", sans-serif;
  font-size: 2.75rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.hero-section .main-paragraph {
  color: var(--white-text);
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  margin: 1rem 0;
  margin-bottom: 4.5rem;
}

.hero-cta {
  margin: auto;
}

.cta-link {
  padding: 0.65rem 0.75rem;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 20px;
}

.cta-link:nth-child(1) {
  background-color: var(--white-text);
  color: var(--light-red-cta);
  margin-right: 1rem;
  border: 2px solid var(--white-text);
}

.cta-link:nth-last-child(1) {
  background-color: var(--light-red-cta);
  color: var(--white-text);
  border: 2px solid var(--white-text);
  margin-right: 1rem;
}
/*# sourceMappingURL=style.css.map */